{#-
vim: ft=jinja.html:
-#}
<div class="tweet-list">

  {%- for tweet in tweets %}

  <article class="tweet-list-item">

    <div class="avatar">
        {%- if tweet.user.profile_image_url_https %}
        <img src="{{ tweet.user.profile_image_url_https }}" alt="Profile Image">
        {%- else %}
        {% include 'twitter.svg' %}
        {%- endif %}
    </div>

    <div class="text">

        <div class="author">
            <div class="names">
                <div class="name">{{ tweet.user.name or tweet.user.screen_name }}</div>
                <div class="screen-name">@{{ tweet.user.screen_name }}</div>
            </div>
            <div class="timestamp"><span>{{ tweet.created_at }} via {{ tweet.source | safe }}</span></div>
        </div>

        <div class="in-reply-to">
            {%- if tweet.in_reply_to_status_id %}
            <a href="{{ tweet | in_reply_to_link }}">Replying to @{{ tweet['in_reply_to_screen_name'] }}</a>
            {%- endif %}
        </div>

        <div class="full-text">{{ tweet | format_tweet_text | safe }}</div>

        {%- if images_src %}
        <div class="media">
            {%- for src in images_src %}
            <div class="media-item">
                <a href="{{ src }}"><img src="{{ src }}" alt="Image" /></a>
            </div>
            {%- endfor %}
        </div>
        {%- endif %}

        <!--div class="actions">
            <div class="action-item">
                <div class="action-icon">{% include 'link.svg' %}</div>
                <div class="action-label"><a href="{{ url_for('get_tweet', tweet_id=tweet['id'], ext='txt') }}">Plain Text</a></div>
            </div>
            <div class="action-item">
                <div class="action-icon">{% include 'link.svg' %}</div>
                <div class="action-label"><a href="{{ url_for('get_tweet', tweet_id=tweet['id'], ext='json') }}">JSON</a></div>
            </div>
        </div-->

    </div>

  </article>

  {%- endfor %}

</div>
