{#-
vim: ft=jinja.html:
-#}
{% extends 'layout.html' %}


{% block title %}
{% if keyword %}
Tweets - Search "{{ keyword }}" ({{ tweets | length }})
{% else %}
Tweets - Search
{% endif %}
{% endblock %}


{% block body %}

  <form class="search-form" action="" method="get">

      <div class="search-box">
          <div class="search-icon"></div>
          <div class="search-input">
              <input type="text" name="q" value="{{ keyword }}" required/>
          </div>
      </div>

      <div class="search-filters">
          <div class="title">Search filters</div>
          <div class="filter">
              <div class="filter-name">User</div>
              <div class="filter-content">
                  <select name="u">
                    <option value="">(all users)</option>
                    {%- for i in user_list %}
                    <option value="{{ i }}"{% if i == user %} selected{% endif %}>{{ i }}</option>
                    {%- endfor %}
                  </select>
              </div>
          </div>
      </div>

      <input type="submit" value="Search" />
  </form>

  {% include '_tweet_list.html' %}

{% endblock %}
