{#-
vim: ft=jinja.html:
-#}
{% extends 'layout.html' %}


{% block title %}Tweet ID {{ tweet['id'] }}{% endblock %}


{% block body %}

  <article class="tweet-card">

    <div class="author">
      <div class="avatar"></div>
      <div class="names">
          <div class="name">{{ tweet.user.name or tweet.user.screen_name }}</div>
          <div class="screen-name">@{{ tweet.user.screen_name }}</div>
      </div>
    </div>

    <div class="text">
      <div class="in-reply-to"></div>
      <div class="full-text">{{ tweet.full_text or tweet.text }}</div>
    </div>

    <div class="media">
        {%- for src in images_src %}
        <article><a href="{{ src }}"><img width="300px" src="{{ src }}" alt="tweet image {{ src }}" /></a></article>
        {%- endfor %}
    </div>

    <div class="timestamp">{{ tweet.created_at }}</div>

    <div class="actions"></div>
  </article>

{% endblock %}


{% block footer %}
    <ul class="api-links">
      <li><a href="{{ url_for('get_tweet', tweet_id=tweet['id'], ext='txt') }}">.txt</a></li>
      <li><a href="{{ url_for('get_tweet', tweet_id=tweet['id'], ext='json') }}">.json</a></li>
    </ul>
{% endblock %}
